:root.dark {
  --wrapper-bg-color: #272727;
  --main-color: #464646;
  --secondary-color: #d63b3b;
  --general-color: white;
  --text-color: white;
  --border-color: #272727;
}

:root.light {
  --wrapper-bg-color: #ffffff;
  --main-color: #d6e4e4;
  --secondary-color: #edff9e;
  --general-color: #6dc5ff;
  --text-color: black;
  --border-color: #6dc5ff;
}

body {
  background-color: #b3b3b3;
  color: var(--text-color);
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  font-size: 1.3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
  border: 1px solid var(--border-color);
  padding: 60px 20px 40px;
  background-color: var(--wrapper-bg-color);
  border-radius: 8px;
}

.display {
  border: 1px solid var(--border-color);
}

#latest-display,
#current-display {
  min-height: 43px;
  text-align: right;
  font-size: 2.3rem;
  background-color: var(--main-color);
  word-wrap: break-word;
  word-break: break-all;
  padding: 0 2px;
}

.buttons {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.button {
  background-color: var(--main-color);  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 73px;
  width: 73px;
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.button:active {
  opacity: 0.8;
}

.operator,
#equal {
  background-color: var(--secondary-color);
}

#delete {
  width: 148px;
}

#null {
  width: 148px;
}

#theme-color {
  position: absolute;
  right: 20px;
  top: 10px;
  color: var(--general-color);
  background-color: var(--wrapper-bg-color);
  border: 1px solid var(--general-color);
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}
  
  #theme-color:active {
    background-color: var(--secondary-color);
  }